.icon-48-students {
      background-image: url(../images/l_students.png);
      padding-left:60px!important;
}

.icon-48-member {
      background-image: url(../images/l_students.png);
      padding-left:60px!important;
}

